body
{
	position: fixed; 
	width: 99%;
}
header,footer
{
	padding: 1em;
    color:blue;
    background-color:#015484;
    clear: left;
    text-align: center;
    font-family: georgia;
}
p
{
	font-size:'150%';
}
img
{
	height:75px;
	width:130px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
article 
{
	margin-left: 170px;
	border-left: 1px solid gray;
	padding: 0.5em;
	overflow: hidden;
}
div.container 
{
	width: 100%;
	border: 1px solid gray;
}
h1
{
	color:#68376E;
	font-family:georgia;
}
nav 
{
	float: left;
	max-width: 200px;
	margin: 0;
}
iframe
{
	width:70%;
	height:70%;
	padding-right: 30px;
	padding-left: 30px;
	border:none;
}	
div
{
	
	float:center;
}

table
{
	border:3px solid #015484;
	font-family:times;
}
			.button 
			{
 			 display: inline-block;
 			 border-radius: 4px;
 			 background-color: #015484;
 			 border: none;
 			 color: #FFFFFF;
 			 text-align: center;
 			 font-size: 18px;
 			 padding: 20px;
 			 width: 120px;
 			 transition: all 0.5s;
 			 cursor: pointer;
 			 margin: 5px;
			 border: 2px solid #000066;
			}

		.button span 
		{
		 cursor: pointer;
  		 display: inline-block;
 		 position: relative;
 		 transition: 0.5s;
		}

		.button span:after 
		{
 		 content: '\00bb';
 		 position: absolute;
 		 opacity: 0;
		 top: 0;
  		 right: -15px;
		 transition: 0.5s;
		}

 	.button:hover span 
	{
	 padding-right: 15px;
	}

	.button:hover span:after 
	{
  	 opacity: 1;
  	 right: 0;
	}
